<div class="footer">
    <div class="row">
        <div class="col-sm-8">
            <p>
                <small><a href="https://www.linkedin.com/in/yufei-liu-92766a66/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></small>
                <small><a href="https://github.com/flying3615"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></small>
                <small><a href="https://www.facebook.com/yufei.liu.1023"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></small>
            </p>
        </div>
        <div class="col-sm-4">
            <p class="pull-right">
                <small>
                    <a href="mailto:flying3615@163.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                </small>
            </p>
        </div>
    </div>
</div> <!-- /footer -->
