<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><strong>(0 to life_span).filter(!rest).reduce(knowledge+new)</strong></a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="{{ page.blog }}"><a href="/blog" title="Blog">Blog</a></li>
			<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
			<li class="{{ page.tool }}"><a href="/tool" title="Tool">Tool</a></li>
		</ul>
	</div>
</nav>
